.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
.crash.log
files.zip
CODEPIPELINE-INTEGRATION-GUIDE.md
codepipeline-outputs-additions.tf
codepipeline-tfvars-additions.txt
codepipeline-variables-additions.tf
App_files.zip
